<template>
  <div>
    <button
        type="button"
        class="success"
        @click="saveFile"
      >
      Download File
      <i class="icon-arrow rotate-90"></i>
    </button>

    <button
      type="button"
      id="saveImage"
      class="info"
    >
      Download Image
      <i class="icon-arrow rotate-90"></i>
    </button>

    <button
      type="button"
      @click="resetTables"
      class="reset"
    >
      Reset Tables
      <i class="icon-arrow rotate-90"></i>
    </button>

    <div id="stage-parent">
      <div id="container">
      </div>
    </div>
  </div>
</template>

<script>
const width = window.innerWidth;
const height = window.innerHeight;

export default {
  data() {
    return {
      stageSize: {
        width: width,
        height: height
      },
      text: '',
      isDragging: false,
      elements: {
        'table1' : {'shape' : 'square', 'name' : 'table1','width': 60, 'height': 60, 'x' : 76, 'y' : 36 },
        'table2' : {'shape' : 'square', 'name' : 'table2', 'width': 60, 'height': 60, 'x' : 173, 'y' : 36 },
        'table3' : {'shape' : 'square', 'name' : 'table3', 'width': 300, 'height': 60, 'x' : 278, 'y' : 36},
        'table4' : {'shape': 'circle', 'name' : 'table4', 'width': 60, 'height': 60, 'x' : 82, 'y' : 270 },
        'table5' : {'shape': 'circle', 'name' : 'table5', 'width': 60, 'height': 60, 'x' : 180 , 'y' : 270 },
        'table6' : {'shape': 'ellipse','name' : 'table6', 'width': 200, 'height': 100, 'x' : 453, 'y' : 270},
      },
      dragStartAttr: {x:'',y:''},
      dragEndAttr: {x:'',y:''}
    };
  },
  watch: {
    elements: function(newVal) {
    },  
  },
  mounted() {
   // load previous data
   this.load()

   //create new stage
   var stage = new Konva.Stage({
        container: 'container',
        width: width,
        height: height,
      });
    
    //create new layer
    var layer = new Konva.Layer();
    stage.add(layer);

    //draw defined elements
    Object.keys(this.elements).forEach(key => {
      layer.add(this.createShape(this.elements[key]));       
    });
    layer.draw();


    //create two seperate lines 

    var redLine1 = new Konva.Line({
            points: [144,139,444,139],
            stroke: 'red',
            strokeWidth: 2,
            lineCap: 'round',
            lineJoin: 'round'
          });

    var redLine2 = new Konva.Line({
        points: [295,214,295,320],
        stroke: 'red',
        strokeWidth: 2,
        lineCap: 'round',
        lineJoin: 'round'
      });

      layer.add(redLine1);
      layer.add(redLine2);
      layer.draw();

    //save image for canvas
      const self = this
      document.getElementById('saveImage').addEventListener(
        'click',
        function () {
          var dataURL = stage.toDataURL({ pixelRatio: 3 });
          self.downloadURI(dataURL, 'stage.png');
        },
        false
      );

      //action for drag move event
      layer.on('dragend', function (e) {
         var target = e.target;
        var targetRect = e.target.getClientRect();
          const stage = e.target.getStage();
          const pos = stage.getPointerPosition();
          const elemName = target.attrs.name
          self.$set(self.elements[elemName],'x',pos.x);
          self.$set(self.elements[elemName],'y',pos.y);
          self.save();     
      })

      function fitStageIntoParentContainer() {
        var container = document.querySelector('#stage-parent');

        // now we need to fit stage into parent
        var containerWidth = container.offsetWidth;
        // to do this we need to scale the stage
        var scale = containerWidth / width;

        stage.width(width * scale);
        stage.height(height * scale);
        stage.scale({ x: scale, y: scale });
        stage.draw();
      }

      fitStageIntoParentContainer();
      // adapt the stage on any window resize
      window.addEventListener('resize', fitStageIntoParentContainer);
  },
  methods: {
    load() {
      const data = localStorage.getItem('storage');
      if(typeof data !== 'undefined' && data!== null) {
        this.elements = JSON.parse(data);
      }
    },
    save() {
      localStorage.setItem('storage', JSON.stringify(this.elements));
    },
    resetTables() {
      localStorage.removeItem('storage');
      location.reload();
    },
    download(filename, text) {
        var element = document.createElement('a');
        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
        element.setAttribute('download', filename);

        element.style.display = 'none';
        document.body.appendChild(element);

        element.click();

        document.body.removeChild(element);
    },
    saveFile() {
    var filename = "chope-table.json";
    this.download(filename, JSON.stringify(this.elements));
    },
    downloadURI(uri, name) {
      var link = document.createElement('a');
      link.download = name;
      link.href = uri;
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
    createShape(elemType) {
      if(elemType.shape === 'square') {
          var group = new Konva.Group({
            x: elemType.x,
            y: elemType.y,
            draggable: true,
            name: elemType.name
          });

          var shape = new Konva.Rect({
            width: elemType.width,
            height: elemType.height,
            fill: '#ba8759',
            name: 'fillShape',
            stroke: '#000',
          });
          group.add(shape);
        
          var complexText = new Konva.Text({
            text:
            elemType.name,
            fontSize: 14,
            fontFamily: 'Calibri',
            fill: '#fff',
            align: 'center',
            verticalAlign:"middle",
            padding:15,
            fontStyle: 'bold'
          });
          group.add(complexText);
          return group;
    }
    else if(elemType.shape === 'circle') {
        var group = new Konva.Group({
              x: elemType.x,
              y: elemType.y,
              draggable: true,
              name: elemType.name
        });
        var shape = new Konva.Circle({
          radius: elemType.width/2,
          fill: '#ba8759',
          name: 'fillShape',
          stroke: '#000',
        });
        group.add(shape);

        var complexText = new Konva.Text({
          text:
          elemType.name,
          fontSize: 12,
          fontFamily: 'Calibri',
          fill: '#fff',
          align: 'center',
          verticalAlign:"middle",
          padding:-12,
          fontStyle: 'bold',
          fontStyle: 'bold'
      });
      group.add(complexText);
      return group;
    }
    else if(elemType.shape === 'ellipse') {
         var group = new Konva.Group({
            x: elemType.x,
            y: elemType.y,
            draggable: true,
            name: elemType.name
         });

         var shape = new Konva.Ellipse({
          radiusX: elemType.width/2,
          radiusY: elemType.height/2,
          fill: '#ba8759',
          name: 'fillShape',
          stroke: '#000',
        });

        group.add(shape);      
        var complexText = new Konva.Text({
        text:
        elemType.name,
        fontSize: 12,
        fontFamily: 'Calibri',
        fill: '#fff',
        align: 'center',
        verticalAlign:"middle",
        fontStyle: 'bold',
        padding:-10,
      });
      group.add(complexText);
      return group;
    }
  },
  haveIntersection(r1, r2) {
      return !(
        r2.x > r1.x + r1.width ||
        r2.x + r2.width < r1.x ||
        r2.y > r1.y + r1.height ||
        r2.y + r2.height < r1.y
      );
  }
      
} 
};
</script>
 <style>
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #eee;
}
button {
  padding: 10px 20px;
  border: 1px solid #ddd;
  color: #333;
  background-color:#fff;
  border-radius: 4px;
  font-size: 14px;
  font-family: '微软雅黑',arail;
  cursor: pointer;
}
.success {
  background-color: #13ce66;
  color: #fff;
}
.info {
  background-color: #50bfff;
  color: #fff;
}
.reset {
  background-color: #ff5050;
  color: #fff;
}
</style>